@charset "UTF-8";
/* CSS Document */
body {
	border: 0 none;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-align: center;
	box-sizing: border-box;
	line-height: 1.4;
	background-color: #fff;
	color: #000;
}

a, li {
	text-decoration: none;
	color: #04A5B2;
}
ul {
	list-style-type: none;
	padding: 0;
}

p{
	font-size: 1em;
	margin: 0;
}

header, section, footer{
	width: 100%;
}

h1 {
	text-transform: uppercase;
	font-size: 2em;
}
h2{
	font-size: 1.2em;
}

h3 {
	border-bottom: 1px solid #fff;
}


.page{
	border-top: 10px solid #04A5B2;
	width: 100%;
}

.contain{
	padding: 40px 0;
	display: block;
	margin: 0px auto;
	width: 60%;
	max-width: 800px;
	overflow: auto;
}

.half {
	width: 50%;
	float: left;
}

#message {
	background-color: #E6E6E6;
	margin: 0 auto;
}

img {
	width: 60%;
	max-width: 380px;
	min-width: 180px;
	margin: 10px 0;
}

footer {
	font-weight: 400;
	text-align: left;
	background-color: #000;
	color: #fff;
}

footer div {
	display: block;
	margin: 0;
}
footer a {
	color: #fff;
	display: block;
}

#address {
	text-align: right;
	float: right;
}

@media screen and (max-width: 900px){
	.half {
	width: 100%;
	float: none;
	padding-top: 10px;
}
	#address {
	text-align: left;
	float: none;
}

}

@media screen and (max-width: 600px){
	p, a {
		font-size: 0.8em
	}

}








