@charset "UTF-8";
/* CSS Document */
body {
	border: 0 none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-align: center;
	box-sizing: border-box;
	line-height: 1.4;
	background-color: #fff;
	color: #000;
}
div {
	display: block;
}
a, #hours li {
	text-decoration: none;
	color: #04A5B2;
}
ul {
	list-style-type: none;
	padding: 0;
}

p{
	font-size: 0.9em;
	line-height: 1.1em;
	margin: 0;
}

header, section, footer{
	width: 100%;
}
h1, h2, h3, h4 {
	font-weight: 700;
}
h1, h2, h3 {
	text-transform: uppercase;
}
h1 {
	font-size: 2.2em;
	line-height: 1.6;
}
h2{
	font-size: 2em;
	margin-bottom: 6%;
}

h3 {
	margin:8% 0 1%;
	font-size: 1.4em;
	line-height: 1.2em;
	border-bottom: 1px solid #fff;
}
h3 span {
	font-weight: 400;
	font-size: 0.5em;
	display: block;
}
h4{
	font-size: 1em;
	line-height: 1em;
	margin-bottom: 0;
}

.note {
	display: block;
	padding: 8% 0;
	clear: both;
	font-size: 0.8em;
}

#sides-lunch ul {
	float: left;
	width: 40%;
}
#sides-lunch ul:nth-child(-n+2){
	margin-right: 10%;
}

#sides ul {
	float: left;
	width: 30%;
}

#sides ul:nth-child(-n+3){
	margin-right: 5%;
}

.page{
	border-top: 10px solid #04A5B2;
	width: 100%;
}

.contain{
	padding: 40px 0;
	display: block;
	margin: 0px auto;
	width: 60%;
	max-width: 800px;
	overflow: auto;
}

.half {
	width: 50%;
	float: left;
}


#menu {
	background-color: #686868;
	color: #fff;
	text-align: left;
}
#menu h2, #hours h2 {
	text-align: center;
}
#dinner {
	background-color: #474747;
}
#hours {
	background-color: #E6E6E6;
	margin: 0 auto;
	text-align: left;
}

img {
	width: 60%;
	max-width: 380px;
	min-width: 180px;
	margin: 10px 0;
}

footer {
	font-weight: 400;
	text-align: left;
	background-color: #000;
	color: #fff;
}

footer div {
	display: block;
	margin: 0;
}
footer a {
	color: #fff;
	display: block;
	font-size: 1em;
	line-height: 1.3em;
}
footer p {
	line-height: 1.3em;
}

#address {
	text-align: right;
	float: right;
}

@media screen and (max-width: 900px){
	.half {
	width: 100%;
	float: none;
	padding-top: 10px;
}
	#address {
	text-align: left;
	float: none;
}
}

@media screen and (max-width: 740px){
#sides ul, #sides-lunch ul {
	width: 100%;
	margin: 0;
}
}

@media screen and (max-width: 600px){
	 footer a {
		font-size: 0.8em;
		line-height: 1.2;
		overflow: hidden;
	}
	.contain {
		width:80%;
	}
}








